.about-page {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Высота на весь экран */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background: url('../assets/images/main-back1.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Предотвращает выход изображения за границы */
}

/* Затемнение и размытие фонового изображения */
.about-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение */
    backdrop-filter: blur(10px); /* Размытие */
    z-index: 1;
}

.about-page-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.85); /* Полупрозрачный белый фон */
    padding: 40px;
    border-radius: 15px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Поверх слоя с затемнением и размытием */
}

.about-page-content h2 {
    font-size: 2.5rem;
    color: #4a148c; /* Темнофиолетовый цвет текста */
    margin-bottom: 20px;
}

.about-page-content p {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.6;
}
